snippet iios "include iostream" 
#include <iostream>
$0
endsnippet

snippet main "insert main function"
int main(void)
{
	$0
	return 0;
}
endsnippet

snippet ini "initialization"
#include <iostream>
using namespace std;

int main(void)
{
	$0
	return 0;
}
endsnippet
