snippet ini "competitive programming"
#include <bits/stdc++.h>
using namespace std;

#define MP make_pair
#define X first
#define Y second
#define forl(i, s, e) for (int i = s; i < e; i++)

int main(void)
{
	ios_base::sync_with_stdio(false);
	cin.tie(NULL);
	cout.tie(NULL);
	$0
	return 0;
}
endsnippet
