# vim: ft=muttrc

set my_user = `whoami`
set my_pass = `pass vultr_self`

# imap
set imap_user = $my_user
set imap_pass = $my_pass
set imap_authenticators = "plain"
set folder = "imaps://$imap_user@carso.nz/"
set spoolfile = +INBOX
set postponed = +Drafts
set mbox_type=Maildir
# set message_cachedir

# smtp
set record = +Sent
set realname = "Xiangyu Zhu"
set from = "$my_user@carso.nz"
set smtp_pass = $my_pass
set smtp_url = "smtps://$my_user@carso.nz"

account-hook $folder "set imap_user=$my_user imap_pass=$my_pass"

lists .*@vger.kernel.org
subscribe rust-for-linux@vger.kernel.org
subscribe linux-doc@vger.kernel.org
