# vim: ft=muttrc

set my_account = "frefreak.zxy"
set my_user = "$my_account@gmail.com"
set my_pass = `pass gmail_mutt`

# imap
set imap_user = $my_user
set imap_pass = $my_pass
set imap_authenticators = "plain"
set folder = "imaps://$my_account@imap.gmail.com"
set spoolfile = +INBOX
set postponed = +[Gmail]/Drafts

# smtp
set record = +[Gmail]/Sent
set realname = "Frefreak"
set from = $my_user
set smtp_pass = $my_pass
set smtp_url = "smtps://$my_account@smtp.gmail.com"
