set imap_user=frefreak.zxy@gmail.com
set my_pass=`pass gmail_mutt`
set imap_pass=$my_pass
unset folder
set folder="imaps://imap.gmail.com"
set from="adv_zxy <frefreak.zxy@gmail.com>"
set spoolfile=+INBOX
set postponed = +[Gmail]/Drafts
unmailboxes *
mailboxes =INBOX
set smtp_url="smtp://frefreak.zxy:$imap_pass@smtp.gmail.com:587"
