set imap_user=adv_zxy
set my_pass=`pass id`
set imap_pass=$my_pass
unset folder
set folder="imaps://carso.nz"
set from=adv_zxy@carso.nz
set spoolfile=+INBOX
set postponed = +Drafts
unmailboxes *
mailboxes =INBOX
set smtp_url="smtp://adv_zxy:$my_pass@carso.nz:587"
